<div class='container'>
  <h1>kittyimages</h1>
  <p class='lead'>Your one stop shop for images of cats.</p>


  <hr>

  {{outlet}}

  {{outlet modal}}


  <hr>

  <div class='text-muted'><small>Footer</small></div>
</div>
